{% extends 'GUSpeedruns/base.html' %}

{% block title_block %}
    Upload comment
{% endblock %}    
{% block body_block %}
    <h1>Upload comment</h1>
    <div>
        <form id="comment_form" method="post" action="{% url 'GUSpeedruns:add_comment' game_name_slug run.id %}">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <br />
            <input type="submit" name="submit" value="Add Comment" />
        </form>
    </div>
{% endblock %}