{% load static %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            GUSpeedruns-
            {% block title_block %}
                Unknown
            {% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'GUSpeedruns/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">GU Speedruns</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'GUSpeedruns:homepage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GUSpeedruns:about' %}">About</a>
                    </li>
            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggler" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Top Games</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Game1</a></li>
                            <li><a class="dropdown-item" href="#">Game2</a></li>
                        </ul>
                    </li>
                </ul>
                
                <div class="d-flex ms-auto">
                    <form method="get" action="{% url 'GUSpeedruns:homepage' %}" class="d-flex" role="search">
                        <input class="form-control me-1" type="search" placeholder="Search game name" aria-label="Search" name="q" value="{{ query }}">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>

                <ul class="navbar-nav  align-items-center px-2">
   			    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text pt-1 px-2">
                            {{ user.username }}{% if user.is_staff %} (Moderator){% endif %}
                        </span>
                    </li>
        			<li class="nav-item">
            				<a class="btn btn-outline-light" href="{% url 'GUSpeedruns:my_account' %}">
               					 My Account
           				 </a>
        			</li>
       				 <li class="nav-item ms-1">
            				<a class="btn btn-danger" href="{% url 'GUSpeedruns:logout' %}">
               					 Sign Out
            				</a>
       				 </li>
  	            {% else %}
                    <li class="nav-item">
                            <a class="btn btn-outline-light" href="{% url 'GUSpeedruns:register' %}">
                                Sign Up
                            </a>
                    </li>
                    <li class="nav-item ms-2">
                            <a class="btn btn-success" href="{% url 'GUSpeedruns:login' %}">
                                Login
                            </a>
                    </li>
                {% endif %}
			</ul>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        <div>
            <!-- main content -->
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>