<!DOCTYPE html>

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            GUSpeedruns-
            {% block title_block %}
                Unknown
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            <!-- Top bar with home, search etc. -->
             <a href="{% url 'GUSpeedruns:homepage' %}">Home</a>
        </div>
        <hr />
        <div>
            <!-- main content -->
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <!-- Bottom bar with about -->
             <a href="{% url 'GUSpeedruns:about' %}">About Us</a>
             <a href="{% url 'GUSpeedruns:register' %}">Sign Up</a>
             <a href="{% url 'GUSpeedruns:login' %}">Login</a>
        </div>
    </body>
</html>