{% extends 'GUSpeedruns/base.html' %}

{% block title_block %}
    {% if run %}
            {{ run.name }}  Comments
        {% else %}
            Unknown Run
        {% endif %}
{% endblock %}

{% block body_block %}
    {% if run %}
        <h1> Comments for '{{ run.title }}' </h1>
        {% if comments %}
            <ul>
                {% for c in comments %}
                    <li>
                        <strong>{{c.title}}</strong>
                        <small>{{c.user}} </small> <br />
                        <p>{{c.content}}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> No comments. </strong>
        {% endif %}
        {% if user.is_authenticated %}
                <a href="{% url 'GUSpeedruns:add_comment' game_name_slug=game_name_slug run_id=run.id %}">Add Comment</a> <br />
        {% endif %}
    {% else %}
        This run doesn't exist
    {% endif %}
{% endblock %}