{% extends 'GUSpeedruns/base.html' %}

{% block title_block %}
    {{ comment.title }}
{% endblock %}

{% block body_block %}
    <div class="container pt-3">
        <a href="{% url 'GUSpeedruns:show_run' game_name_slug=game_name_slug run_name_slug=run_name_slug %}" class="btn btn-secondary">&larr; Back</a>
    {% if comment %}
        <div class="container">
            <div class="mt-3">
                <h1>{{ comment.title }}</h1>
                <p>by {{ comment.user }}</p>
            </div>
            <hr/>
            <p>{{ comment.content }}</p>
            <hr/>
        
        {% if user.is_staff or user == comment.user.user %}
        <form method="post" action="{% url 'GUSpeedruns:delete_comment' game_name_slug=game_name_slug run_name_slug=comment.run.slug_title slug_title=comment.slug_title %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-2">Delete Comment</button>
            </form>
        {% endif %}
    {% else %}
        This comment does not exist.
    {% endif %}
    </div>
{% endblock %}