{% extends 'GUSpeedruns/base.html' %}

{% block title_block %}
    {{ profile_user }}'s Profile
{% endblock %}

{% block body_block %}
<h1>{{ profile_user }}'s Profile</h1>

<div>
    {% if profile_user.picture %}
        <img src="{{ profile_user.picture.url }}" alt="{{ profile_user }} image" style="max-width: 300px; height: auto;">
    {% else %}
        <p>No image available for this user.</p>
    {% endif %}
</div>

<div>
    <h2>Top Runs</h2>

    {% if runs %}
        <ol>
            {% for run in runs %}
                <li>
                    <a href="{% url 'GUSpeedruns:show_run' game_name_slug=run.game.slug_name run_name_slug=run.slug_title %}">
                        {{ run.game.name }} - {{ run.time }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No runs available for this user.</p>
    {% endif %}
</div>
{% endblock %}