{% extends 'GUSpeedruns/base.html' %}

{% block title_block %}
    Upload Game
{% endblock %}

{% block body_block %}
<h1>Upload a new Game</h1>

<div>
    <form id="game_form" method="post" action="{% url 'GUSpeedruns:upload_game' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br/>
        {% endfor %}
        <input type="submit" name="submit" value="Upload Game" />
    </form>
</div>
{% endblock %}