{% extends 'GUSpeedruns/base.html' %}

{% block title_block %}
    Upload Game
{% endblock %}

{% block body_block %}
<div class="container pt-3">
    <a href="{% url 'GUSpeedruns:homepage'%}" class="btn btn-secondary m-0">&larr; Back</a>
    <div class="header pt-3">
        <h1>Upload a new Game</h1>
    </div>

    <div class="text_input pt-3 gy-2">
        <form id="game_form" method="post" action="{% url 'GUSpeedruns:upload_game' %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in form.visible_fields %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

                {{ field }}

                {% if field.help_text %}
                    <div class="form-text">
                        {{ field.help_text }}
                    </div>
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger mt-2">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Upload Game</button>
        </form>
    </div>
</div>
{% endblock %}